$schema: https://veupathdb.github.io/vdi-service/schema/config/full-config.json

definitions:
  genomicsProjects: &genomicsProjects
  - AmoebaDB
  - CryptoDB
  - FungiDB
  - GiardiaDB
  - HostDB
  - MicrosporidiaDB
  - PiroplasmaDB
  - PlasmoDB
  - ToxoDB
  - TrichDB
  - TriTrypDB
  - VectorBase
  - VEuPathDB
  ctrlDbConfig: &ctrlDbConfig
    username: &appDbUser ${env:APP_DB_USERNAME}
    password: &appDbPass ${env:APP_DB_PASSWORD}
    server: &appDbServer ${env:APP_DB_SERVER}
    platform: postgres
    name: &appDbName ${env:APP_DB_NAME}
    schema: ${env:APP_DB_CTRL_SCHEMA}
  dataDbConfig: &dataDbConfig
    username: *appDbUser
    password: *appDbPass
    server: *appDbServer
    platform: postgres
    name: *appDbName
    schema: ${env:APP_DB_DATA_SCHEMA}

containerCore:
  http:
    bindPort: 80
    enableCors: true
  authentication:
    adminToken: ${env:ADMIN_AUTH_TOKEN}
    oauth:
      clientId: ${env:OAUTH_CLIENT_ID}
      clientSecret: ${env:OAUTH_CLIENT_SECRET}
      url: https://eupathdb.org/oauth

vdi:
  siteBuild: ${env:SITE_BUILD}

  restService:
    enableJerseyTrace: true

  objectStore:
    bucketName: vdi
    https: false
    server:
      host: minio-external
    accessToken: minioUser
    secretKey: minioPass

  rabbit:
    global:
      connection:
        server: rabbit-external
        username: rabbitUser
        password: rabbitPass
        tls: false
      exchange:
        name: vdi-bucket-notifications
      queue:
        name: vdi-bucket-notifications
      routing:
        key: vdi-bucket-notifications

  kafka:
    servers:
    - kafka:9092

  cacheDb:
    username: vdi
    password: pgPass
    server: cache-db:5432

  plugins:
    bigwig:
      server: bigwig:80
      dataTypes:
      - name: bigwigfiles
        category: bigWig
        version: 1.0
        # 500MiB
        maxFileSize: 524288000
        allowedFileExtensions: [ ".bw" ]
        usesDataProperties: true
      projectIds: *genomicsProjects
    biom:
      server: biom:80
      dataTypes:
      - name: biom
        category: BIOM
        version: 1.0
        # 100MiB
        maxFileSize: 104857600
      projectIds:
      - MicrobiomeDB
    example:
      server: example:80
      dataTypes:
      - name: example
        category: Example
        version: 1.0
    genelist:
      server: genelist:80
      dataTypes:
      - name: genelist
        category: Gene List
        version: 1.0
      projectIds: *genomicsProjects
    noop:
      server: noop:80
      dataTypes:
      - name: lightweight
        category: Lightweight
        version: 1.0
        typeChangesEnabled: true
    rnaseq:
      server: rnaseq:80
      dataTypes:
      - name: rnaseq
        category: RNA-Seq
        version: 1.0
        # 10GiB
        maxFileSize: 10737418240
      projectIds: *genomicsProjects
    wrangler:
      server: wrangler:80
      dataTypes:
      - name: phenotype
        category: Phenotype
        version: 1.0
        # 10GiB
        maxFileSize: 10737418240
        allowedFileExtensions: [ ".txt", ".tsv" ]
      - name: isasimple
        category: ISA Study
        version: 1.0
      projectIds:
      - ClinEpiDB

  installTargets:
  - targetName: AmoebaDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: ClinEpiDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: true
    metaValidation:
      properties:
        contacts:
          minItems: 1
          items:
            required:
            - firstName
            - lastName
            - email
            - affiliation
            - country
        studyCharacteristics:
          required:
          - studyDesign
          - studyType
      required:
      - projectName
      - contacts
      # ensure we have a program name when project name is "other"
      if:
        properties:
          projectName:
            const: "other"
      then:
        required: [ programName ]

  - targetName: CryptoDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: FungiDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: GiardiaDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: HostDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: MicrobiomeDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: true
    metaValidation:
      properties:
        contacts:
          items:
            required:
            - firstName
            - lastName
            - email
            - affiliation
            - country
          minItems: 1
      required:
      - projectName
      - contacts
      # ensure we have a program name when project name is "other"
      if:
        properties:
          projectName:
            const: "other"
      then:
        required: [ programName ]

  - targetName: MicrosporidiaDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: OrthoMCL
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: PiroplasmaDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: PlasmoDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: true

  - targetName: ToxoDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: TrichDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: TriTrypDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: VectorBase
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  - targetName: VEuPathDB
    controlDb: *ctrlDbConfig
    dataDb: *dataDbConfig
    enabled: false

  daemons:
    reconciler:
      enabled: false
